body {
  margin: 0;
  padding: 1rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#main-body {
  border-radius: 12px;
  padding: 10px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 12px -3px #8e867d;
  border-radius: 5px;
}

#main-body h1 {
  margin-top: 0;
  text-align: center;
}

#search-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
  align-self: center;
}

#city-input {
  padding: 10px 20px;
  font-size: 1em;
  margin-right: auto;
  border: none;
  border-radius: 5px;
  width: 40%;
}

#city-input:focus {
  outline: none;
  border-color: rgb(87, 87, 255);
  box-shadow: 0 0 5px rgb(87, 87, 255);
}
.hidden {
  display: none;
}

.loading {
  font-size: 1.5em;
}
button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgb(87, 87, 255);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(29, 29, 255);
}

#conditions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10px;
}

form {
  display: flex;
  padding: 10px;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

#left-conditions {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.weather-icon {
  object-fit: contain;
  border-radius: 20%;
  margin-top: 0;
}

.date-element {
  margin: 2px 0 0 0;
}

.location-element {
  font-size: 2.8em;
  font-weight: bold;
}

#right-conditions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.temp-element {
  font-size: 4.5em;
  font-weight: bold;
}

.condition-element {
  font-size: 1.5em;
  text-transform: capitalize;
}

.description-element {
  margin-top: 10px;
  font-size: 1.2em;
  font-style: italic;
  color: gray;
  margin-top: auto;
}
@media (max-width: 600px) {
  /* mobile styles */
  #city-input {
    padding: 10px 5px;
    font-size: 0.9em;
    flex: 0 0 100%;
    margin-bottom: 1rem;
  }

  button {
    margin-left: 13%;
    padding: 1px;
    font-size: 0.9em;
    flex: 0 0 30%;
  }
  .location-element {
    font-size: 2em;
  }
  .date-element {
    font-size: 0.9em;
  }
  .weather-icon {
    height: 80px;
    width: 80px;
  }
  .condition-element {
    font-size: 1em;
  }
  .temp-element {
    font-size: 2em;
  }
  .description-element {
    font-size: 1em;
  }
}
